/* basic html styles! yay! */
html {
  font-size: 100%;
  line-height: 1.5 rem;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  height: 100%;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
  html{ scroll-behavior: initial;}
}
img {
  width: 100%;
  height: auto;
  display: block;
}

/*end basic html styles! woo-hoo!*/
/*Begin nav bar styles*/
.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  line-height: 1rem;
  overflow: hidden;
  background-color: purple;
  z-index: 1000;
}
.nav-item,
.logo {
  color:white;
  white-space: nowrap;
}
.nav-menu, 
.logo{
  color: white;
  text-transform: uppercase;
}
.nav-menu {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0pt;
  margin: 0pt;
}
.nav-item {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 33%;
  text-align: center;
}
.logo a,
.nav-menu a {
  display: block;
  text-decoration: none;
  letter-spacing: 0.2rem;
  padding: 0.8 rem;
}
.logo a {
  font-weight: bold;
  font-size: 2rem;
}
.nav-menu a {
  font-weight: 400;
  letter-spacing: 0.1 rem;
  border-bottom: 1px solid black;
  transition: all ease 0.1s;
}
,.nav-menu a:hover {
  border-bottom: 1px solid white;
}
.top-nav {
  background: none;
  grid-column: 1/-1;
  grid-row: 1/-1;
  align-content: top;
  position: fixed;
  top: 0;
  height: 8rem ;
}
@supports (position: sticky) { .top-nav { position: -webkit-sticky; /*For
  Safari*/ position: sticky } }
/*End nav bar styles*/
.hero-heading {
  color: purple;
  font-family: "Courier New", Courier, monospace;
  font-size: 100px;
  text-shadow: 2px 2px lightsteelblue;
  background-color: black;
}
.section-scroll {
  scroll-margin-top: 9rem;
  padding: 0 1rem 4rem 1rem;
}
.hero-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0px;
  align-content: center;
  justify-content: center;
  align-items: start;
  height: 100%;
  width: 100%;
  margin-top: -8rem;
}
.hero-image-box {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}
.hero-image-box::after {
  content: "";
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(34, 6, 66, 0.445) ;
}
.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.hero-text-box {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  align-self: center;
  padding: 1rem;
  z-index: 10;
  text-align: center;
}
.hero-text {
  color: purple;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  background-color: black;
}
body {
  background-color: black;
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
  max-height: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/*Begin Gallery Styles*/
.portfolio-container h1{
  margin: 1rem auto 0 auto;
  color: purple;
  text-align: center;
}
.gallery {
  margin: 1 rem auto 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap:0.5rem;
  grid-auto-rows: 300px;
}
.gallery-item {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.gallery-img{
  height:100%;
  object-fit: cover;
  transition: 0.5s ease-in-out;
}
.gallery-img:hover {
  transform: scale(1.5) ;}
/*Begin about section styles */
.about-container{
  display: grid;
  grid-template-columns: 1fr;
  margin: 1rem auto 0 auto;
}
.about-text h1 {
  font-size: 2rem;
  line-height: 2rem;
  color: purple;
  margin: 0 auto;
  padding: 0 1rem;
}
.about-text p {
  font-size: 1rem;
  line-height: 2rem;
  color: purple;
  margin: 0 auto;
  padding: 0 1rem;
}
.about-social{
  color: purple;
}
.about-image{
  height: 100%;
  object-fit: cover;
}
.about-social{
  display: flex;
  justify-content: start;
}
.about-social a {
  color: purple;
  padding: 0 1rem 1rem 1rem;
}
/*End about section styles */

/*Begin link section styles*/
.links a {
  display: grid;
  grid-template-columns: auto;
  padding: 0px 1px 0px 1px;
}
.button {
  color: white;
  background-color: purple;
  width: 50%;
  float: inline-end;
  text-align: center;
  align-self: center;
  padding: 0px 1px 0px 1px;
}
/*End link section styles*/

/*Begin Media Queries*/
@media (min-width: 600px) {
  .hero-heading {
    font-size: 4rem;
    line-height: 4rem;
  }
  .hero-text {
    font-size: 2rem;
    line-height: 2rem;
  }
  .portfolio-container h1{
    font-size: 4rem;
  }
  .about-container {
grid-template-columns: 1fr 1 fr;
grid-gap: 1rem;
  }
  .about-text h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  .about-text p {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .about-social a:hover {
    color: royalblue;
  }
  .nav-bar {
    line-height: 1.5rem;
  }
  .nav-menu {
    padding: 0 1rem;
  }
}

@media (min-width: 920px) {
    .hero-heading {
      font-size: 6rem;
      line-height: 6rem;
    }
  }
  .hero-text{
    font-size: 2rem;
    line-height: 2rem;
    color: purple;
  }
  .portfolio-container h1{
    font-size: 4rem;
  }
  .portfolio-container, .about-container {
    max-width: 1400px;
  }
  .about-text p {
    font-size: 1.5 rem;
    line-height: 1.5 rem;
    color: purple;
  }
  .about-social i {
    font-size: 3rem;
    padding: 0 2rem 2rem 2rem;
    color: purple;
  }
  .nav-bar {
    justify-content: space-between;
    padding: 2rem 0;
    line-height: 1rem;
  }
  .nav-menu {
    width: ;
  }
}


